$white: #f9f9f9;
$black: #000;
$red: rgba(255, 74, 86, 1);

.menuNavbar {
  background-color: $white;

  .navbar-item {
    .navbar-item {
      font-weight: 500;
      font-family: poppins;

      &:hover,
      &:active {
        color: $black;
        background-color: indigo;
      }
    }
  }
}
